<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/plugins/h-ui/css/H-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="/plugins/h-ui.admin/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/plugins/h-ui.admin/css/H-ui.admin.css" />
	<link rel="stylesheet" type="text/css" href="/plugins/hui-iconfont/iconfont.css" />
</head>
<body>
	<nav class="breadcrumb">
		管理员管理 <span class="c-gray en">&gt;</span> 管理员列表 
		<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
	<div class="page-container">
		<form id="searchForm" name="searchForm" action="${ROOT}/admin/log/list.html" method="get">
			<div class="text-c">
				<input type="text" name="name" id="name" value="${param.name}" placeholder=" 操作用户" style="width:150px" class="input-text">
				<span class="select-box inline">
					<select name="action" id="action" class="select">
						<option value="" ${empty param.action ? 'selected' : ''}>全部操作</option>
                           <option value="创建内容" ${param.action == '创建内容' ? 'selected' : ''}>创建内容</option>
                           <option value="修改内容" ${param.action == '修改内容' ? 'selected' : ''}>修改内容</option>
                           <option value="更新状态" ${param.action == '更新状态' ? 'selected' : ''}>更新状态</option>
                           <option value="删除内容" ${param.action == '删除内容' ? 'selected' : ''}>删除内容</option>
                           <option value="物理删除" ${param.action == '物理删除' ? 'selected' : ''}>物理删除</option>
                           <option value="用户登录" ${param.action == '用户登录' ? 'selected' : ''}>用户登录</option>
                           <option value="定时任务" ${param.action == '定时任务' ? 'selected' : ''}>定时任务</option>
                           <option value="接口调用" ${param.action == '接口调用' ? 'selected' : ''}>接口调用</option>
					</select>
				</span>
				<input type="text" name="detail" id="detail" value="${param.detail}" placeholder=" 内容关键字" style="width:200px" class="input-text"> 
				操作时间：
				<input type="text" name="ge_createDate" id="ge_createDate" value="${param.ge_createDate}" class="input-text Wdate" 
					style="width:160px;" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss', startDate:'%y-%M-%d 00:00:00'})">
				-
				<input type="text" name="le_createDate" id="le_createDate" value="${param.le_createDate}" class="input-text Wdate" 
					style="width:160px;" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss', startDate:'%y-%M-%d 23:59:59'})">
				<button id="search" class="btn btn-success" type="submit">
					<i class="Hui-iconfont Hui-iconfont-search2"></i> 查询
				</button>
			</div>
		</form>
		<div class="cl pd-5 bg-1 bk-gray mt-20">
			<span class="r">
				共有数据：<strong th:text="${pageInfo.total}"></strong> 条，
				每页显示：<strong th:text="${pageInfo.pageSize}"></strong> 条
			</span>
		</div>
		<div class="mt-20">
			<table class="table table-border table-bordered table-hover table-bg table-sort">
				<thead>
					<tr class="text-c">
						<th width="25"><input type="checkbox" name="" value=""></th>
						<th width="50">ID</th>
						<th width="100">用户名</th>
						<th width="50">性别</th>
						<th width="100">手机</th>
						<th width="100">邮箱</th>
						<th width="120">最近登录时间</th>
						<th width="50">状态</th>
						<th width="100">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-c" data-th-each="object : ${pageInfo?.list}">
						<td><input type="checkbox" value="1" name=""></td>
						<td data-th-text="${object?.id}"></td>
						<td data-th-text="${object?.username}"></td>
						<td data-th-text="${object?.sex == 0 ? '保密' : (object?.sex == 1 ? '男' : '女')}"></td>
						<td data-th-text="${object?.phone}"></td>
						<td data-th-text="${object?.email}"></td>
						<td data-th-text="${#dates.format(object?.lastLoginTime, 'yyyy-MM-dd HH:mm')}"></td>
						<td>
							<span class="label radius label-success">正常</span>
						</td>
						<td class="td-manage">
							<a style="text-decoration:none" onClick="member_stop(this,'10001')" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a> 
							<a title="编辑" href="javascript:;" onclick="member_edit('编辑','member-add.html','4','','510')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> 
							<a style="text-decoration:none" class="ml-5" onClick="change_password('修改密码','change-password.html','10001','600','270')" href="javascript:;" title="修改密码"><i class="Hui-iconfont">&#xe63f;</i></a> 
							<a title="删除" href="javascript:;" onclick="member_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="mt-10" id="pageTag" style="text-align:center;"></div>
	</div>
	
	<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="/plugins/h-ui/js/H-ui.min.js"></script>
	<script type="text/javascript" src="/plugins/h-ui.admin/js/H-ui.admin.js"></script>
	<script type="text/javascript" src="/plugins/My97DatePicker/WdatePicker.js"></script>
	<script type="text/javascript" src="/plugins/laypage/laypage.js"></script>
	<script type="text/javascript">
		// 分页
		var totalNum = 1;
		if (totalNum > 0) {
			var numPerPage = 10;
			var pages = Math.ceil((totalNum / numPerPage)); 
			var currpage = 1;
			laypage({
			  	cont: 'pageTag', //分页容器的id  
			  	pages: pages,    //总页数  
			  	curr: currpage,  //当前页  
			  	skip: true,      //是否开启跳页
			  	skin: '#00AA91', //当前页的颜色
			  	jump: function(e, first) {
			      	if (!first) {
			        	location.href = '?pageNum=' + e.curr + '&numPerPage=' + numPerPage;
			      	}
			  	}  
			});
		} 
	</script>
</body>
</html>